/* This here is for the image cards, from this video here: https://youtu.be/VUtJ7FWCfZA */

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    padding: 0px 0px 20px;
}

.card-item {
    list-style: none;
}

.card-link {
    width: 300px;
    display: block;
    background: white;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: rgb(222, 181, 255);
}

.card-list .image-text {
    color: rgb(150, 150, 150);
}

.card-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.badge {
    color: rgb(222, 181, 255);
    background: rgb(247, 238, 255);
    margin: 10px 0 10px;
    padding: 8px 8px;
    font-size: 0.95rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 50px;
}

.card-title {
    font-size: 1.19rem;
    color: black;
    font-weight: 600;
}